<header>
  <mat-toolbar color="primary">
    <a mat-button [routerLink]="['budgets']" aria-label="YNAB Custom Reports">
      <img
        matButtonIcon
        aria-hidden="true"
        alt="ynab-custom-reports"
        src="../assets/images/charts.svg"
        class="h-10 w-10"
      />
    </a>
    <span class="hidden sm:block md:text-xl">Custom Reports for YNAB</span>
    <span class="flex flex-auto"></span>
    <app-login></app-login>
  </mat-toolbar>
</header>

<main class="mt-8">
  <router-outlet></router-outlet>
</main>
