#header__link {
  color: black;
  padding-left: 100px;
  box-sizing: border-box;
  padding-right: 25px;
}

img {
  height: 45px;
  width: 45px;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.spacer {
  flex: 1 1 auto;
}
