@tailwind base;
@tailwind components;
@tailwind utilities;

// Pull in resets
@import url('https://unpkg.com/modern-css-reset@1.4.0/dist/reset.min.css');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
